{{define "subject"}}Welcome to Donorbox!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Donorbox account. We're excited to have you on board!

Follow this link below to activate your account:

{{.activationUrl}}

Please note that the link will expire within 3 days.

Thanks,

Donorbox Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi, </p>
    <p>Thanks for signing up for a Donorbox account. We're excited to have you on board!</p>
    <p>Follow this link below to activate your account:</p>
    <div><a href="{{.activationUrl}}">Follow link</a></div>
    <p>Please note that the link will expire within <b>3 days</b>.</p>
    <p>Thanks,</p>
    <p>Donorbox Team</p>
</body>
</html>
{{end}}
