{{define "subject"}}Donorbox password reset{{end}}

{{define "plainBody"}}
Hi {{.firstName}},

Follow this link below to reset your password:

{{.resetPasswordUrl}}

Please note that the link will expire within 15 minutes.

Thanks,

Donorbox Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi, {{.firstName}}</p>
    <p>Follow this link below to reset your password:</p>
    <div><a href="{{.resetPasswordUrl}}">{{.resetPasswordUrl}}</a></div>
    <p>Please note that the link will expire within <b>15 minutes</b>.</p>
    <p>Thanks,</p>
    <p>Donorbox Team</p>
</body>
</html>
{{end}}
